# sdkconfig defaults for ESP32-S3 + native WiFi
CONFIG_IDF_TARGET="esp32s3"
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_CKB_WIFI_SSID="your_ssid"
CONFIG_CKB_WIFI_PASSWORD="your_password"
CONFIG_CKB_NODE_HOST="192.168.68.87"
CONFIG_CKB_NODE_PORT=8115
